.col {
  :global {
    .ant-checkbox {
      align-self: flex-start;
      margin-top: 3px;
    }
  }
  .option {
    display: flex;
    align-items: start;
    .wrapperRecommended {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
.nxsbRangePickerFilterRangeDate {
  :global {
    .ant-picker-range-wrapper.ant-picker-date-range-wrapper {
      .ant-picker-panel-container {
        .ant-picker-panel-layout {
          .ant-picker-panels {
            @include media-breakpoint-down(md) {
              display: block;
              width: 18rem;
              height: 25rem;
              overflow: auto;
            }
          }
        }
      }
    }
  }
}

.assessment {
  :global {
    .ant-checkbox {
      align-self: flex-start;
      margin-top: 3px;
    }
    .ant-checkbox + span {
      word-break: break-word;
    }
  }
  .groupRow {
    width: 100%;
    .wrapperRecommended {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .ant-checkbox-wrapper {
      width: 45%;
      display: flex;
      align-items: center;
    }
  }
}

.wrapperFooter {
  display: flex;
  align-items: center;
  gap: 8px;
}
