.masterSider {
  display: block;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}

.siteLayout {
  background: #fff;
  margin-left: 221px;
  height: 100vh;
}

.content {
  background: #fff;
  padding: 20px;
}

@include media-breakpoint-down(lg) {
  .masterSider {
    display: none;
  }
  .siteLayout {
    margin-left: 0;
  }
}

@include media-breakpoint-down(md) {
  .siteLayoutAffix {
    display: none;
  }
  .content {
    padding: 0;
  }
}
