.wrapperMethod {
  margin-top: 24px;
  @include media-breakpoint-up(lg) {
    padding: 0 70px 0px 70px;
  }

  .textBookCar {
    color: #049fce;
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    font-weight: 600;
  }
  .wrapperItem {
    width: 100%;
    padding: 16px;
    background-color: #dcf7ff;
    border-left: 3px solid #15c5fb;
    display: flex;
    align-items: start;
    gap: 10px;
    .wrapperNumkber {
      min-width: 40px;
      height: 40px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #15c5fb;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
    .wrapperText {
      font-size: 18px;
      font-weight: 700;
    }
  }
}
