.wrapperDiscountTile {
  display: flex;
  align-items: center;
  gap: 8px;
  .wrapperImage {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 4px;
    }
    .placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
